/*
.main-header .logo {
  font-family: "Arial";
  font-weight: bold;
  font-size: 20px;
},
*/

*  {font-family: "Arial" !important;} ,

/* main sidebar */


        .skin-blue .main-sidebar {
                              font-size:25px;
                              }
	
.main-sidebar {
                              font-size:12px;
                              }
							  
.main-header {
                              font-size:10px;
                              }
							  

							  
.content-wrapper,
.left-side {
background-color: #EEEEEE;
},

